<a href="https://colab.research.google.com/github/wawarisa29/Datawarehouse/blob/master/Hellow_world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello PyYhon
## Hello Python
### Hello Python
This is my first PyThon Program

In [1]:
print("Hello World")

Hello World

#Declare Variable
How to declare variable in PyThon
- str(score) change score to string
- name = Phasit
  +name+   change variable to string

In [2]:
score = 100
name = "Phasit"
print(" Name is "+ name + " score is "+ str(score))

 Name is Phasit score is 100

In [3]:
a = 2
b = 3
c = a * b 
print(c)

6

# List 
How to use list in python

In [4]:
mylist = []
mylist.append("Phasit")
mylist.append(200)
mylist

['Phasit', 200]

How to count data in list

In [5]:
len(mylist)

2

# if else PyThon
How to use if else in python

In [7]:
if mylist[1] > 100 :
  print("Pass")

Pass

In [8]:
if mylist[1] > 100 :
  name = mylist[0]
  score = mylist[1]
  print(name+" "+str(score))
elif mylist[1] > 200 :
  print("Very Pass")
else:
  print("Super Pass")

Phasit 200

# For loop in PyThon

In [9]:
summation = 0
for i in range(0,10):
  print(str(i))
  summation = summation + 1
print(" The summation result is " + str(summation))

0
1
2
3
4
5
6
7
8
9
 The summation result is 10

In [11]:
summation = []
for i in range(0,10):
  summation.append(i)

for i in summation:
  print(str(i))

0
1
2
3
4
5
6
7
8
9

Below 
i 10 round
a is a+5 OK Naa

In [14]:
summation = []
a = 0
for i in range(0,10):
  a = a + 5
  summation.append(a)

for i in summation:
  print(str(i))

5
10
15
20
25
30
35
40
45
50

In [15]:
summation = []
a = 0
for i in range(0,10):
  a = a + 5
  summation.append(a)

for i in summation:
  print(str(a))

50
50
50
50
50
50
50
50
50
50